# Core Dependencies
shioaji
pandas
numpy
numba
python-dotenv
pyyaml
rich
pandas_market_calendars

# Dashboard & Visualization
streamlit
plotly
streamlit-autorefresh

# Infrastructure & Testing
pytest
pytest-asyncio
requests
python-dateutil
